# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow
5. Vegas
6. ggplot2

|Data Science Tools|
|------------------|
|    R Studio      |
|  Apache Spark    |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This is a simple arithmetic expression to mutiply then add integers.

17

In [3]:
200/60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Make a table of open source Data Science tools
- Give examples for evaluating arithmetic expressions in Python

## Author
Anoopchandra P